<div class="cotents row">
  <%= form_tag("/reviews/#{@review.id}", method: :patch ) do %>
    <h3>
      投稿する
    </h3>
    <input placeholder="評価" type="integer" name="rate">
    <input placeholder="Image Url" type="text" name="image">
    <textarea col="30" name="review" placeholder="どんな温泉でした？" rows="10"></textarea>
    <input type="submit" value="SENT">
  <% end %>
</div>