<div class="contents row" >
  <%= render partial: "hotspring" %>
  <% @reviews.each do |review| %>
    <%= render partial: "review", locals: { review: review } %>
  <% end %>
  <%= paginate(@reviews) %>
</div>